@font-face {
    font-family: 'Gordita_Medium';
    src: url('fonts/Gordita Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gordita Bold';
    src: url('fonts/Gordita_Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MPLUS1p Medium';
    src: url('fonts/MPLUS1p-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MPLUS1p Bold';
    src: url('fonts/MPLUS1p-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
	background-color: #222;
	color: #eee;
	font-family: 'Gordita Medium', sans-serif;
}

canvas {
	background-color: #111;
}